@media(max-width:680px)
{

    body{
        
        box-sizing: border-box;
    }
    .track-name{
            font-size: 1.5rem;
            font-weight: bolder;
    }
    .artist-name{
        font-size: 1rem;
    }
}
@media(max-width:320px)
{
    .track-art{
        height: 150px;
        margin: 20px;
        width: 180px;
        
    }
    .track-name{
        font-size: 16px;
    }
    .artist-name{
        font-size: 11px;
    }
      .prev-track,.curr,.next{
          padding: 10px;
      }

}